Repository Ericsson/CodeCompass, pull requests merged in 2020-09, with the labels that each got.

#462 libgit2-dev version 0.27 was not covered
  plugins/git/service/src/gitservice.cpp
Labels: Kind: Bug, Plugin: Git

#458 Download npm packages only if necessary
  webgui/CMakeLists.txt
  webgui/InstallGUI.cmake
Labels: Kind: Enhancement, Target: Developer environment

#464 Fix session lifetime.
  webserver/src/authentication.cpp
Labels: Kind: Bug

#425 Better AST value for nodes.
  plugins/cpp/parser/src/clangastvisitor.h
  plugins/cpp/parser/src/symbolhelper.cpp
  plugins/cpp/parser/src/symbolhelper.h
Labels: Kind: Enhancement, Plugin: C++

#460 Replace wiki documentation to .md files in Earhart branch
  README.md
  docs/add_codechecker_to_a_project.md
  docs/build_codecompass.md
  docs/getting_started.md
  docs/lazy_dog.md
  docs/logging_configuration.md
  docs/manage_workspaces.md
  docs/parse_a_project.md
  docs/setup_postgresql.md
  docs/start_codecompass_webserver.md
Labels: Target: Documentation

#467 Minor shell improvements
  docker/web/Dockerfile
  scripts/remover.sh
Labels: Target: Developer environment, Target: Documentation

#457 Open info tree on left click event
  webgui/scripts/codecompass/view/component/Text.js
Labels: Kind: Enhancement, Target: WebGUI

#459 Remove "Show AST html" menu item from files.
  plugins/cpp_reparse/webgui/js/cppReparseMenu.js
Labels: Target: Visualisation, Target: WebGUI

#348 Using Clang 10 specifically
  plugins/cpp/parser/CMakeLists.txt
Labels: Kind: Support, Plugin: C++, Target: Developer environment
