Repository Ericsson/CodeCompass, pull requests merged in 2020-08, with the labels that each got.

#412 DockerHub publish through CI
  .travis.yml
  docker/web/Dockerfile
Labels: Kind: Enhancement, Target: Developer environment

#414 Enable Google Analytics monitoring
  webgui/index.html
  webgui/login.html
  webgui/scripts/ga.js
  webserver/src/mainrequesthandler.cpp
  webserver/src/mainrequesthandler.h
  webserver/src/webserver.cpp
Labels: Kind: Enhancement, Target: WebGUI

#420 Remove mangledName column from CppAstNode table
  plugins/cpp/model/include/model/cppastnode.h
  plugins/cpp/parser/src/clangastvisitor.h
  plugins/cpp/parser/src/ppincludecallback.cpp
  plugins/cpp/parser/src/ppmacrocallback.cpp
  plugins/cpp/test/src/cppparsertest.cpp
Labels: Kind: Refactor, Plugin: C++, Status: WIP, Target: Database

#419 Cpp documentation comments in markdown format
  plugins/cpp/model/include/model/cppdoccomment.h
  plugins/cpp/parser/src/doccommentcollector.h
  plugins/cpp/parser/src/doccommentformatter.cpp
  plugins/cpp/parser/src/doccommentformatter.h
  plugins/cpp/service/src/cppservice.cpp
  webgui/scripts/codecompass/view/infobox.js
Labels: Kind: Enhancement, Plugin: C++, Target: Database

#432 Uplift used Clang to 10.0
  .travis.yml
  doc/deps.md
  docker/dev/Dockerfile
  docker/runtime/Dockerfile
  docker/web/Dockerfile
  plugins/cpp/parser/src/clangastvisitor.h
  plugins/cpp/parser/src/cppparser.cpp
  plugins/cpp/parser/src/ppmacrocallback.cpp
  plugins/cpp/parser/src/relationcollector.cpp
  plugins/cpp_reparse/service/src/asthtml.cpp
  plugins/cpp_reparse/service/src/astnodelocator.h
  plugins/cpp_reparse/service/src/databasefilesystem.cpp
  plugins/cpp_reparse/service/src/databasefilesystem.h
  plugins/cpp_reparse/service/src/reparser.cpp
Labels: Kind: Refactor, Plugin: C++, Status: WIP, Target: Developer environment

#446 Extending API documentation of plugin.thrift
  service/plugin/plugin.thrift
Labels: Target: Documentation

#444 Fix XML parse error issue in Firefox
  webserver/src/mainrequesthandler.cpp
Labels: Target: WebGUI

#445 Fix plugin loading in frontend
  CMakeLists.txt
Labels: Kind: Bug, Kind: Critical, Target: WebGUI

#447 Documentation for Google Analytics feature
  doc/usage.md
Labels: Target: Documentation

#438 Appending mangledNameHash to AstNode identifier.
  plugins/cpp/model/include/model/cppastnode.h
  plugins/cpp/test/src/cppparsertest.cpp
Labels: Kind: Bug, Plugin: C++

#423 Fix C++ parser segfaults when the parent node of a variable
  plugins/cpp/parser/src/symbolhelper.cpp
Labels: Kind: Bug, Plugin: C++

#451 Correct syntax highlight after click on word
  webgui/scripts/codecompass/view/component/Text.js
Labels: Kind: Bug, Target: WebGUI
