Repository Ericsson/CodeCompass, pull requests merged in 2021-02, with the labels that each got.

#508 Parsing test projects in CI
  .github/workflows/ci.yml
Labels: Kind: Enhancement, Kind: Important

#512 Displaying build log messages when clicking on the parse status label.
  webgui/scripts/codecompass/view/component/Text.js
Labels: Kind: Enhancement, Target: WebGUI

#513 Trigger GitLab CI automatically
  .github/workflows/ci.yml
  .gitlab/ci.yml
Labels: Kind: Enhancement, Target: Developer environment

#514 Building and pushing images to Dockerhub.
  .github/workflows/ci.yml
Labels: Kind: Enhancement, Target: Developer environment

#516 Fix C++ parser relative path
  plugins/cpp/parser/src/cppparser.cpp
Labels: Kind: Bug, Plugin: C++

#515 Skip circular symlinks
  util/src/parserutil.cpp
Labels: Kind: Bug, Target: Parser
