Repository Ericsson/CodeCompass, pull requests merged in 2022-01, with the labels that each got.

#538 Fix for git blame issue with submodules
  plugins/git/parser/include/gitparser/gitparser.h
  plugins/git/parser/src/gitparser.cpp
  plugins/git/service/src/gitservice.cpp
Labels: Kind: Bug, Plugin: Git

#551 Fix PostgreSql version conflict issue in GitHub Actions CI
  .github/workflows/ci.yml
Labels: Kind: Bug, Kind: Important, Target: Developer environment

#546 Use semantic version requirements for npm dependencies
  webgui/package.json
Labels: Kind: Bug, Target: Developer environment, Target: WebGUI

#554 Handle conventional branch names in GitLab CI.
  .gitlab/ci.yml
Labels: Target: Developer environment
