Repository Ericsson/CodeCompass, pull requests merged in 2023-10, with the labels that each got.

#633 Set default theme based on user preference
  webgui-new/src/global-context/theme-context.tsx
Labels: Kind: Enhancement :star2:, Target: WebGUI

#634 Workspace and root files are now ordered by name.
  service/project/src/projectservice.cpp
  service/workspace/include/workspaceservice/workspaceservice.h
  service/workspace/src/workspaceservice.cpp
Labels: Kind: Enhancement :star2:, Level: Beginner (1), Target: Service

#635 Dependency update for new webgui
  webgui-new/package-lock.json
  webgui-new/package.json
Labels: Target: Developer environment, Target: WebGUI

#636 Update NodeJS install method in Docker images
  docker/dev/Dockerfile
  docker/web/Dockerfile
Labels: Target: Developer environment
