Repository Ericsson/CodeCompass, pull requests merged in 2023-02, with the labels that each got.

#569 Fix recursive caller nodes
  plugins/cpp/webgui/js/cppInfoTree.js
Labels: Kind: Bug :warning:, Plugin: C++, Target: WebGUI

#579 Finding CodeCompass binary path
  util/include/util/filesystem.h
  util/src/filesystem.cpp
Labels: Kind: Enhancement :star2:

#588 Log file
  doc/usage.md
  parser/src/parser.cpp
  plugins/search/common/CMakeLists.txt
  plugins/search/common/src/cc/search/common/FileLoggerInitializer.java
  plugins/search/common/src/cc/search/common/config/CommonOptions.java
  plugins/search/common/src/cc/search/common/config/LogConfigurator.java
  plugins/search/common/src/cc/search/common/ipc/IPCProcessor.java
  plugins/search/indexer/include/indexer/indexerprocess.h
  plugins/search/indexer/indexer-java/src/cc/search/analysis/SourceAnalyzer.java
  plugins/search/indexer/indexer-java/src/cc/search/analysis/tags/CTags.java
  plugins/search/indexer/indexer-java/src/cc/search/analysis/tags/SourceTagGenerator.java
  plugins/search/indexer/indexer-java/src/cc/search/analysis/tags/TagGeneratorManager.java
  plugins/search/indexer/indexer-java/src/cc/search/indexer/AbstractIndexer.java
  plugins/search/indexer/indexer-java/src/cc/search/indexer/FileIndexer.java
  plugins/search/indexer/indexer-java/src/cc/search/indexer/app/Indexer.java
  plugins/search/indexer/indexer-java/src/cc/search/suggestion/DatabaseBuilder.java
  plugins/search/indexer/src/indexerprocess.cpp
  plugins/search/parser/src/searchparser.cpp
  plugins/search/service/include/service/serviceprocess.h
  plugins/search/service/search-java/src/cc/search/analysis/QueryAnalyzer.java
  plugins/search/service/search-java/src/cc/search/analysis/query/HIPDQuery.java
  plugins/search/service/search-java/src/cc/search/match/matcher/MasterMatcherFactory.java
  plugins/search/service/search-java/src/cc/search/match/matcher/TagKindMatcherFactory.java
  plugins/search/service/search-java/src/cc/search/service/app/SearchAppCommon.java
  plugins/search/service/search-java/src/cc/search/service/app/query/QueryApp.java
  plugins/search/service/search-java/src/cc/search/service/app/service/SearchHandler.java
  plugins/search/service/search-java/src/cc/search/service/app/service/ServiceApp.java
  plugins/search/service/search-java/src/cc/search/suggestion/SuggestionHandler.java
  plugins/search/service/src/searchservice.cpp
  util/include/util/logutil.h
  util/src/logutil.cpp
  webserver/src/webserver.cpp
Labels: Kind: Enhancement :star2:

#566 Improve error handling of CppServiceHandler
  plugins/cpp/service/include/service/cppservice.h
  plugins/cpp/service/src/cppservice.cpp
Labels: Kind: Bug :warning:, Plugin: C++
