Repository Ericsson/CodeCompass, pull requests merged in 2023-08, with the labels that each got.

#623 Fix JsPlumb path on login page
  webgui/login.html
Labels: Kind: Bug :warning:, Target: WebGUI

#624 Upgrade NodeJS and NPM for tarball build
  .gitlab/build-deps.sh
Labels: Target: Developer environment, Target: WebGUI

#625 Fix Google Analytics usage on login page
  webserver/src/mainrequesthandler.cpp
Labels: Kind: Bug :warning:, Target: WebGUI, Target: Authentication

#615 New frontend remaining issues
  README.md
  doc/fe_development.md
  doc/fe_usage.md
  webgui-new/next.config.js
  webgui-new/package-lock.json
  webgui-new/package.json
  webgui-new/public/images/cc_codebites.png
  webgui-new/public/images/cc_diagrams.png
  webgui-new/public/images/cc_info_tree.png
  webgui-new/public/images/cc_metrics.png
  webgui-new/public/images/cc_overview.png
  webgui-new/public/images/cc_revcontrol.png
  webgui-new/public/images/logo.png
  webgui-new/src/components/codemirror-editor/codemirror-editor.tsx
  webgui-new/src/components/credits/credits.tsx
  webgui-new/src/components/diagrams/diagrams.tsx
  webgui-new/src/components/editor-context-menu/editor-context-menu.tsx
  webgui-new/src/components/file-context-menu/file-context-menu.tsx
  webgui-new/src/components/file-manager/file-manager.tsx
  webgui-new/src/components/file-name/file-name.tsx
  webgui-new/src/components/file-name/styled-components.tsx
  webgui-new/src/components/git-diff/git-diff.tsx
  webgui-new/src/components/header/get-tooltip-text.tsx
  webgui-new/src/components/header/styled-components.tsx
  webgui-new/src/components/info-tree/info-tree.tsx
  webgui-new/src/components/metrics/metrics.tsx
  webgui-new/src/components/project-select/project-select.tsx
  webgui-new/src/components/revision-control/revision-control.tsx
  webgui-new/src/components/search-results/search-results.tsx
  webgui-new/src/components/settings-menu/settings-menu.tsx
  webgui-new/src/components/user-guide/user-guide.tsx
  webgui-new/src/components/welcome/styled-components.tsx
  webgui-new/src/components/welcome/welcome.tsx
  webgui-new/src/enums/accordion-enum.ts
  webgui-new/src/enums/entity-types.ts
  webgui-new/src/enums/search-enum.ts
  webgui-new/src/global-context/app-context.tsx
  webgui-new/src/i18n/i18n.ts
  webgui-new/src/i18n/locales/en.json
  webgui-new/src/pages/_app.tsx
  webgui-new/src/pages/index.tsx
  webgui-new/src/pages/project.tsx
  webgui-new/src/service/project-service.ts
  webgui-new/tsconfig.json
Labels: Kind: Bug :warning:, Kind: Enhancement :star2:, Target: Documentation, Kind: Refactor :arrows_clockwise:, Target: WebGUI
