Repository Ericsson/CodeCompass, pull requests merged in 2023-11, with the labels that each got.

#642 Google analytics integration in the new webgui
  webgui-new/package-lock.json
  webgui-new/package.json
  webgui-new/src/components/codebites/codebites-node.tsx
  webgui-new/src/components/codemirror-editor/codemirror-editor.tsx
  webgui-new/src/components/cookie-notice/cookie-notice.tsx
  webgui-new/src/components/diagrams/diagrams.tsx
  webgui-new/src/components/editor-context-menu/editor-context-menu.tsx
  webgui-new/src/components/file-context-menu/file-context-menu.tsx
  webgui-new/src/components/header/header.tsx
  webgui-new/src/i18n/locales/en.json
  webgui-new/src/pages/_app.tsx
  webgui-new/src/server.ts
  webgui-new/src/utils/analytics.ts
  webgui-new/src/utils/store.ts
Labels: Kind: Enhancement :star2:, Target: WebGUI

#638 Cpp metrics plugin
  CMakeLists.txt
  Functions.cmake
  plugins/cpp/model/include/model/cppfunction.h
  plugins/cpp_metrics/CMakeLists.txt
  plugins/cpp_metrics/model/CMakeLists.txt
  plugins/cpp_metrics/model/include/model/cppastnodemetrics.h
  plugins/cpp_metrics/model/include/model/cppfilemetrics.h
  plugins/cpp_metrics/parser/CMakeLists.txt
  plugins/cpp_metrics/parser/include/cppmetricsparser/cppmetricsparser.h
  plugins/cpp_metrics/parser/src/cppmetricsparser.cpp
  plugins/cpp_metrics/service/CMakeLists.txt
  plugins/cpp_metrics/service/cppmetrics.thrift
  plugins/cpp_metrics/service/include/service/cppmetricsservice.h
  plugins/cpp_metrics/service/src/cppmetricsservice.cpp
  plugins/cpp_metrics/service/src/plugin.cpp
Labels: Kind: Enhancement :star2:, Plugin: C++, Plugin: Metrics

#646 Correct display for implicit and macro-expanded variables
  plugins/cpp/parser/src/clangastvisitor.h
Labels: Kind: Bug :warning:, Plugin: C++

#678 Add Security Policy
  SECURITY.md
Labels: Target: Developer environment

#658 Handle namespace alias declarations
  plugins/cpp/model/CMakeLists.txt
  plugins/cpp/model/include/model/cppastnode.h
  plugins/cpp/model/include/model/cppnamespacealias.h
  plugins/cpp/parser/src/clangastvisitor.h
Labels: Kind: Enhancement :star2:, Plugin: C++

#657 Update Thrift to version 0.16
  .github/scripts/ubuntu-20.04/compile_build.sh
  .github/scripts/ubuntu-20.04/download_build.sh
  .github/scripts/ubuntu-20.04/postcompile_build.sh
  .github/scripts/ubuntu-20.04/setup_build.sh
  .github/scripts/ubuntu-20.04/setup_postgresql.sh
  .github/scripts/ubuntu-20.04/setup_runtime.sh
  .github/scripts/ubuntu-20.04/setup_sqlite3.sh
  .github/workflows/ci.yml
  .gitlab/build-deps.sh
  Functions.cmake
  doc/deps.md
  lib/java/libthrift-0.13.0.jar
  lib/java/libthrift-0.16.0.jar
  plugins/cpp_metrics/service/CMakeLists.txt
  plugins/cpp_reparse/service/CMakeLists.txt
  plugins/dummy/service/CMakeLists.txt
  plugins/git/service/CMakeLists.txt
  plugins/metrics/service/CMakeLists.txt
  plugins/search/common/src/cc/search/common/ipc/IPCProcessor.java
  plugins/search/service/CMakeLists.txt
  service/authentication/CMakeLists.txt
  service/language/CMakeLists.txt
  service/plugin/CMakeLists.txt
  service/project/CMakeLists.txt
  service/workspace/CMakeLists.txt
  webgui-new/package-lock.json
  webgui-new/package.json
  webgui-new/src/themes/theme.ts
  webgui/index.html
  webgui/login.html
  webgui/package.json
  webgui/scripts/thrift.js
Labels: Kind: Refactor :arrows_clockwise:, Target: Developer environment, Target: Service

#645 Ast visitor function for using declarations.
  plugins/cpp/model/include/model/cppastnode.h
  plugins/cpp/parser/src/clangastvisitor.h
  plugins/cpp/test/sources/parser/CMakeLists.txt
  plugins/cpp/test/sources/parser/using.cpp
  plugins/cpp/test/src/cppparsertest.cpp
Labels: Kind: Enhancement :star2:, Plugin: C++
