Repository Ericsson/CodeCompass, pull requests merged in 2024-05, with the labels that each got.

#743 Build CodeCompass in Release mode in CI
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .gitlab/build-codecompass.sh
Labels: Kind: Refactor :arrows_clockwise:, Target: Developer environment

#744 Log the start of each C++ metric computation
  plugins/cpp_metrics/parser/src/cppmetricsparser.cpp
Labels: Kind: Enhancement :star2:, Plugin: C++, Plugin: Metrics

#745 Debug info upon C++ parser finished a TU
  plugins/cpp/parser/src/cppparser.cpp
Labels: Plugin: C++

#736 Incremental parsing issue fixes
  parser/src/sourcemanager.cpp
  plugins/cpp_metrics/model/include/model/cppastnodemetrics.h
  plugins/cpp_metrics/parser/src/cppmetricsparser.cpp
  util/include/util/dbutil.h
Labels: Kind: Bug :warning:, Plugin: C++, Plugin: Metrics

#748 Update C++ metrics service with our new metrics
  plugins/cpp_metrics/service/cxxmetrics.thrift
  plugins/cpp_metrics/service/src/cppmetricsservice.cpp
Labels: Kind: Bug :warning:, Plugin: C++, Plugin: Metrics
