Repository Ericsson/CodeCompass, pull requests merged in 2024-06, with the labels that each got.

#734 Implementation of C++ metrics parallelization
  plugins/cpp/model/include/model/cppfunction.h
  plugins/cpp_metrics/model/include/model/cppcohesionmetrics.h
  plugins/cpp_metrics/parser/include/cppmetricsparser/cppmetricsparser.h
  plugins/cpp_metrics/parser/src/cppmetricsparser.cpp
  util/include/util/dbutil.h
Labels: Kind: Enhancement :star2:, Plugin: C++, Plugin: Metrics

#727 Initial implementation of type McCabe (#683)
  plugins/cpp/model/include/model/common.h
  plugins/cpp/parser/src/clangastvisitor.h
  plugins/cpp_metrics/model/include/model/cppastnodemetrics.h
  plugins/cpp_metrics/parser/include/cppmetricsparser/cppmetricsparser.h
  plugins/cpp_metrics/parser/src/cppmetricsparser.cpp
  plugins/cpp_metrics/service/cxxmetrics.thrift
  plugins/cpp_metrics/service/src/cppmetricsservice.cpp
  plugins/cpp_metrics/test/sources/parser/CMakeLists.txt
  plugins/cpp_metrics/test/sources/parser/functionmccabe.cpp
  plugins/cpp_metrics/test/sources/parser/typemccabe.cpp
  plugins/cpp_metrics/test/sources/parser/typemccabe.h
  plugins/cpp_metrics/test/sources/service/CMakeLists.txt
  plugins/cpp_metrics/test/sources/service/functionmccabe.cpp
  plugins/cpp_metrics/test/sources/service/typemccabe.cpp
  plugins/cpp_metrics/test/sources/service/typemccabe.h
  plugins/cpp_metrics/test/src/cppmetricsparsertest.cpp
Labels: Kind: Enhancement :star2:, Plugin: C++, Plugin: Metrics

#750 Tag runtime postgresql Docker image on master with latest
  .github/workflows/docker.yml
Labels: Kind: Bug :warning:, Target: Developer environment

#753 Optionally run Plugin parsers after DB indexing
  parser/include/parser/abstractparser.h
  parser/src/parser.cpp
  plugins/cpp_metrics/parser/include/cppmetricsparser/cppmetricsparser.h
Labels: Kind: Enhancement :star2:, Kind: Refactor :arrows_clockwise:, Target: Parser
