Repository Ericsson/CodeCompass, pull requests merged in 2024-02, with the labels that each got.

#690 Added a link to the favicon
  webgui-new/src/pages/index.tsx
Labels: Kind: Bug :warning:, Target: WebGUI

#691 Add devcontainer descriptor to the codebase
  .devcontainer/devcontainer.json
Labels: Target: Developer environment

#686 Extend CI for Ubuntu 22.04
  .github/scripts/ubuntu-20.04/compile_build.sh
  .github/scripts/ubuntu-20.04/download_build.sh
  .github/scripts/ubuntu-20.04/postcompile_runtime.sh
  .github/scripts/ubuntu-22.04/compile_build.sh
  .github/scripts/ubuntu-22.04/download_build.sh
  .github/scripts/ubuntu-22.04/postcompile_build.sh
  .github/scripts/ubuntu-22.04/postcompile_runtime.sh
  .github/scripts/ubuntu-22.04/setup_build.sh
  .github/scripts/ubuntu-22.04/setup_postgresql.sh
  .github/scripts/ubuntu-22.04/setup_sqlite3.sh
  .github/workflows/ci.yml
  scripts/install_latest_build2.sh
Labels: Target: Developer environment

#692 Backend-based syntax highlighting for the new webgui
  webgui-new/src/components/codemirror-editor/codemirror-editor.tsx
Labels: Kind: Bug :warning:, Target: WebGUI

#679 Nodes inside lambdas are no longer considered inherently implicit
  plugins/cpp/parser/src/clangastvisitor.h
Labels: Kind: Bug :warning:, Plugin: C++

#599 LSP for CodeCompass
  doc/lsp.md
  doc/usage.md
  plugins/cpp/service/include/service/cppservice.h
  plugins/cpp/service/src/cppservice.cpp
  plugins/cpp/service/src/filediagram.cpp
  plugins/cpp_lsp/CMakeLists.txt
  plugins/cpp_lsp/service/CMakeLists.txt
  plugins/cpp_lsp/service/include/cpplspservice/cpplspservice.h
  plugins/cpp_lsp/service/src/cpplspservice.cpp
  plugins/cpp_lsp/service/src/plugin.cpp
  service/CMakeLists.txt
  service/lsp/CMakeLists.txt
  service/lsp/include/lspservice/lsp_types.h
  service/lsp/include/lspservice/lspservice.h
  service/lsp/src/lsp_types.cpp
  service/lsp/src/lspservice.cpp
  util/include/util/graph.h
  util/src/graph.cpp
  webserver/include/webserver/lsphandler.h
  webserver/include/webserver/pluginhelper.h
  webserver/include/webserver/thrifthandler.h
Labels: Kind: Enhancement :star2:, Target: LSP

#705 Replace PPKE mirror with main GNU GCC repo for the tarball build
  .gitlab/build-deps.sh
Labels: Kind: Bug :warning:, Target: Developer environment

#707 Maximize disk space in CI
  .github/scripts/ubuntu-20.04/postcompile_runtime.sh
  .github/scripts/ubuntu-20.04/setup_runtime.sh
  .github/scripts/ubuntu-22.04/postcompile_runtime.sh
  .github/workflows/ci.yml
Labels: Kind: Refactor :arrows_clockwise:, Target: Developer environment

#708 Fix Thrift usage in the C++ LSP plugin
  plugins/cpp_lsp/service/CMakeLists.txt
Labels: Kind: Bug :warning:, Target: LSP

#709 Persist C++ metrics only for files of the analyzed project
  plugins/cpp/model/include/model/cppfunction.h
  plugins/cpp_metrics/parser/include/cppmetricsparser/cppmetricsparser.h
  plugins/cpp_metrics/parser/src/cppmetricsparser.cpp
  util/include/util/filesystem.h
  util/src/filesystem.cpp
Labels: Kind: Refactor :arrows_clockwise:, Plugin: C++, Plugin: Metrics

#688 Lack of cohesion metrics
  plugins/cpp/parser/src/clangastvisitor.h
  plugins/cpp/test/src/cpparsertest.cpp
  plugins/cpp_metrics/model/CMakeLists.txt
  plugins/cpp_metrics/model/include/model/cppastnodemetrics.h
  plugins/cpp_metrics/model/include/model/cppcohesionmetrics.h
  plugins/cpp_metrics/parser/include/cppmetricsparser/cppmetricsparser.h
  plugins/cpp_metrics/parser/src/cppmetricsparser.cpp
  plugins/cpp_metrics/test/CMakeLists.txt
  plugins/cpp_metrics/test/sources/parser/CMakeLists.txt
  plugins/cpp_metrics/test/sources/parser/lackofcohesion.cpp
  plugins/cpp_metrics/test/sources/service/CMakeLists.txt
  plugins/cpp_metrics/test/sources/service/lackofcohesion.cpp
  plugins/cpp_metrics/test/src/cppmetricsparsertest.cpp
Labels: Kind: Enhancement :star2:, Kind: Important :1st_place_medal:, Plugin: C++, Plugin: Metrics

#713 Fix ODB install in Docker images
  docker/dev/install_odb.sh
Labels: Kind: Bug :warning:, Kind: Critical :boom:, Target: Developer environment
