Repository Ericsson/CodeCompass, pull requests merged in 2025-05, with the labels that each got.

#790 Implement efferent coupling at module level
  plugins/cpp/model/include/model/cppfunction.h
  plugins/cpp_metrics/model/CMakeLists.txt
  plugins/cpp_metrics/model/include/model/cppfilemetrics.h
  plugins/cpp_metrics/model/include/model/cpptypedependencymetrics.h
  plugins/cpp_metrics/parser/include/cppmetricsparser/cppmetricsparser.h
  plugins/cpp_metrics/parser/src/cppmetricsparser.cpp
  plugins/cpp_metrics/test/sources/parser/CMakeLists.txt
  plugins/cpp_metrics/test/sources/parser/module_a/a1.h
  plugins/cpp_metrics/test/sources/parser/module_a/a2.h
  plugins/cpp_metrics/test/sources/parser/module_b/b1.h
  plugins/cpp_metrics/test/sources/parser/module_b/b2.h
  plugins/cpp_metrics/test/sources/parser/module_c/c1.h
  plugins/cpp_metrics/test/sources/parser/module_c/c2.h
  plugins/cpp_metrics/test/sources/parser/modulemetrics.cpp
  plugins/cpp_metrics/test/src/cppmetricsparsertest.cpp
  util/CMakeLists.txt
  util/include/util/dbutil.h
Labels: Kind: Enhancement :star2:, Kind: Important :1st_place_medal:, Plugin: C++, Plugin: Metrics

#792 Drop support for Ubuntu 20.04 Focal
  .github/scripts/ubuntu-20.04/compile_build.sh
  .github/scripts/ubuntu-20.04/download_build.sh
  .github/scripts/ubuntu-20.04/postcompile_build.sh
  .github/scripts/ubuntu-20.04/setup_build.sh
  .github/scripts/ubuntu-20.04/setup_postgresql.sh
  .github/scripts/ubuntu-20.04/setup_sqlite3.sh
  .github/workflows/ci.yml
  doc/deps.md
  doc/usage.md
Labels: Target: Documentation, Kind: Refactor :arrows_clockwise:, Target: Developer environment

#791 Upgrade LLVM to v15
  .github/scripts/ubuntu-22.04/setup_build.sh
  .github/workflows/ci.yml
  .gitlab/build-deps.sh
  doc/deps.md
  docker/dev/Dockerfile
  docker/runtime/Dockerfile
  docker/web/Dockerfile
  plugins/cpp/parser/src/clangastvisitor.h
  plugins/cpp/parser/src/ppincludecallback.cpp
  plugins/cpp/parser/src/ppincludecallback.h
Labels: Kind: Refactor :arrows_clockwise:, Plugin: C++, Target: Developer environment

#793 Make codebase compatible with Boost 1.85 deprecation removals
  parser/src/pluginhandler.cpp
  plugins/cpp/parser/src/cppparser.cpp
  plugins/cpp/service/src/filediagram.cpp
  plugins/dummy/parser/src/dummyparser.cpp
  plugins/git/parser/src/gitparser.cpp
  plugins/git/service/src/gitservice.cpp
  plugins/search/parser/src/searchparser.cpp
  webserver/include/webserver/pluginhandler.h
Labels: Kind: Refactor :arrows_clockwise:

#794 Implement afferent coupling at module level
  plugins/cpp_metrics/model/include/model/cppfilemetrics.h
  plugins/cpp_metrics/model/include/model/cpptypedependencymetrics.h
  plugins/cpp_metrics/parser/include/cppmetricsparser/cppmetricsparser.h
  plugins/cpp_metrics/parser/src/cppmetricsparser.cpp
  plugins/cpp_metrics/test/sources/parser/module_d/d1.h
  plugins/cpp_metrics/test/sources/parser/modulemetrics.cpp
  plugins/cpp_metrics/test/src/cppmetricsparsertest.cpp
Labels: Kind: Enhancement :star2:, Kind: Important :1st_place_medal:, Plugin: C++, Plugin: Metrics

#795 Implement relational cohesion metric
  plugins/cpp_metrics/model/include/model/cppcohesionmetrics.h
  plugins/cpp_metrics/model/include/model/cppfilemetrics.h
  plugins/cpp_metrics/model/include/model/cpptypedependencymetrics.h
  plugins/cpp_metrics/parser/include/cppmetricsparser/cppmetricsparser.h
  plugins/cpp_metrics/parser/src/cppmetricsparser.cpp
  plugins/cpp_metrics/service/cxxmetrics.thrift
  plugins/cpp_metrics/service/src/cppmetricsservice.cpp
  plugins/cpp_metrics/test/sources/parser/modulemetrics.cpp
  plugins/cpp_metrics/test/sources/parser/rc_module_a/a1.h
  plugins/cpp_metrics/test/sources/parser/rc_module_a/a2.h
  plugins/cpp_metrics/test/sources/parser/rc_module_a/a3.h
  plugins/cpp_metrics/test/sources/parser/rc_module_b/b1.h
  plugins/cpp_metrics/test/sources/parser/rc_module_c/c1.h
  plugins/cpp_metrics/test/sources/parser/rc_module_c/c2.h
  plugins/cpp_metrics/test/sources/parser/rc_module_c/c3.h
  plugins/cpp_metrics/test/sources/parser/rc_module_c/c4.h
  plugins/cpp_metrics/test/src/cppmetricsparsertest.cpp
Labels: Kind: Enhancement :star2:, Plugin: C++, Plugin: Metrics
