Repository Ericsson/CodeCompass, pull requests merged in 2025-07, with the labels that each got.

#800 Add option to skip C++ metrics calculations for lambdas and nested classes
  plugins/cpp/model/include/model/cpprecord.h
  plugins/cpp/parser/src/clangastvisitor.h
  plugins/cpp/service/src/cppservice.cpp
  plugins/cpp/test/src/cpppropertiesservicetest.cpp
  plugins/cpp_metrics/parser/include/cppmetricsparser/cppmetricsparser.h
  plugins/cpp_metrics/parser/src/cppmetricsparser.cpp
Labels: Kind: Enhancement :star2:, Plugin: C++, Plugin: Metrics

#802 Rework type level metrics calculations
  plugins/cpp/model/CMakeLists.txt
  plugins/cpp/model/include/model/cppfunction.h
  plugins/cpp/model/include/model/cpptypedependency.h
  plugins/cpp/parser/src/clangastvisitor.h
  plugins/cpp_metrics/model/CMakeLists.txt
  plugins/cpp_metrics/model/include/model/cpptypedependencymetrics.h
  plugins/cpp_metrics/parser/src/cppmetricsparser.cpp
  plugins/cpp_metrics/test/sources/parser/CMakeLists.txt
  plugins/cpp_metrics/test/sources/parser/afferentcoupling.cpp
  plugins/cpp_metrics/test/sources/parser/efferentcoupling.cpp
  plugins/cpp_metrics/test/src/cppmetricsparsertest.cpp
Labels: Kind: Refactor :arrows_clockwise:, Plugin: C++, Plugin: Metrics

#804 Query paginated metrics efficiently
  plugins/cpp_metrics/service/cxxmetrics.thrift
  plugins/cpp_metrics/service/include/service/cppmetricsservice.h
  plugins/cpp_metrics/service/src/cppmetricsservice.cpp
Labels: Kind: Refactor :arrows_clockwise:, Plugin: C++, Plugin: Metrics

#803 Don't construct queries with too many OR statements for SQLite
  plugins/cpp_metrics/parser/src/cppmetricsparser.cpp
Labels: Kind: Bug :warning:, Kind: Refactor :arrows_clockwise:, Plugin: C++, Plugin: Metrics
